<%- include('header') %>

<h1>About</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam suscipit at vero ipsum totam porro
    ducimus
    sapiente, reprehenderit, doloremque, dolorem dolore vel itaque nesciunt assumenda? Repellendus ab maiores
    quam
    quas?

</p>



<%- include('footer') %>