<%- include("header") %>

<h1>Compose</h1>

<form action="/" method="POST">

    <label for="title">Today's Date</label><br>
    <input id="title" type="text" name="titleName" size="100"> <br>

    <label for="post">What's Happend Today</label><br>
    <textarea id="post" name="postMassege" cols="102" rows="7"></textarea><br>
    <button> Save </button>

  

</form>
<%- include("footer") %>