<%- include('header') %>

<h1>Contact</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut quasi molestiae, harum distinctio ea
    esse impedit aspernatur quidem assumenda voluptates voluptas similique atque maxime? Excepturi magnam fugit
    maxime, ipsa ea placeat dolorem dicta, sunt omnis quibusdam quaerat eveniet quae ut ex qui odio saepe fugiat
    vel ratione, accusantium natus.</p>


<%- include('footer') %>